@use "@/colors";

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$clr-primary;
}

.alternatives {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.alternative {
  padding: .5rem 0;
  border-bottom: .1rem solid colors.$clr-secondary;
  transition: color .2s;

  &:hover {
    color: colors.$clr-primary;
    border-bottom-color: colors.$clr-primary;
  }
}