.review {
  .header,
  .comment {
    background-color: transparent;
  }
}

.name {
  width: 15rem;
  height: 2.2rem;
}

.date {
  width: 10rem;
  height: 1.8rem;
  margin-right: auto;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.lineLong {
  width: 100%;
}

.lineShort {
  width: 50%;
  min-width: 20rem;
}