@use '@/colors';
@use '@/variables';

.scrollBtnGroup {
  display: flex;
  gap: 1rem;
}

.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 3rem;
  transition: translate .5s;
}

.slide {
  aspect-ratio: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: variables.$separating-border;
  border-radius: .5rem;
  transition: all .2s;

  &:hover,
  &:active {
    color: colors.$clr-base;
    background-color: colors.$clr-primary;
    border-color: colors.$clr-primary;
  }
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.slideText {
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
}

.iconWrapper {
  font-size: 4rem;
}