@use "@/colors";
@use "@/variables";

.rating {
  font-size: 4rem;
}

.ratingItemDescription {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 9rem;
  font-size: 1.8rem;
  color: colors.$clr-secondary;
}