@use "@/variables";

.authentication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin: variables.$primary-vertical-margin 0;
}

.authenticationImage {
  position: relative;
  width: 55%;
  aspect-ratio: 353 / 320;
}