@use "@/variables";

.reviewsSection {
  .header,
  .heading,
  .stats,
  .statsOverall,
  .statsVisual,
  .ratingItem,
  .form,
  .reviews,
  .reviews > * {
    background-color: transparent;
  }

  .heading {
    border-radius: 0;
  }

  .statsOverall {
    gap: 2rem;
  }

  .statsVisual {
    gap: 2.5rem;
  }

  .reviews,
  .reviews > * {
    border-radius: 0;
  }
}

.headingBlock {
  height: 3rem;
  width: 12rem;
  margin-bottom: 1rem;
}

.rating {
  width: 6rem;
  height: 4.5rem;
}

.count {
  width: 10rem;
  height: 2rem;
}