@use "@/colors";

.staffWrapper {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.staff {
  display: flex;
  gap: 5rem;
  transition: translate .5s;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardImgWrapper {
  position: relative;
  aspect-ratio: 0.75;
  background-color: colors.$clr-semi-transparent;
  border-radius: .5rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.cardImg {
  object-fit: cover;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
}

.socialMedia {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: inherit;
  font-size: 2.5rem;
}

.staffSlideShow {
  position: relative;
}

.scrollBtn {
  position: absolute;
  top: 50%;
}

.scrollBtnLeft {
  left: 0;
  translate: -1.5rem -50%;
}

.scrollBtnRight {
  right: 0;
  translate: 1.5rem -50%;
}