@use '@/variables';
@use '@/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: 10rem;
  border-bottom: variables.$separting-border;
  padding: 2rem variables.$primary-horizontal-padding;
}

.logo {
  margin-right: auto;
}

.list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}