@use '@/variables';
@use '@/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  height: 10rem;
  border-bottom: variables.$separating-border;
  padding: 2rem variables.$primary-padding-horizontal;
}

.logo {
  margin-right: auto;
}

.list {
  display: flex;
  gap: 4rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 .5rem;
  transition: color .2s;
  cursor: pointer;

  &:hover {
    color: colors.$clr-primary;
  }
}

.iconAccount {
  font-size: 3rem;
}