@use '@/colors';
@use '@/variables';

.section {
  border-bottom: variables.$separating-border;
  padding-bottom: 6rem;
  margin-top: 10rem;
}

.title {
  position: relative;
  color: colors.$clr-primary;
  font-size: inherit;
  text-transform: capitalize;
  padding: 1rem 0 1rem 3.5rem;
  margin-bottom: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2rem;
    background-color: colors.$clr-primary;
    border-radius: .5rem;
  }
}

.header {
  display: flex;
  margin-bottom: 6rem;
}

.horizontal {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

.heading {
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-right: auto;
}