@use '@/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20rem;
  padding-top: 4rem;
}

.nav {
  border-right: variables.$separating-border;
}

.link {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  display: block;
  padding: .5rem 0;
}