$clr-base: #fff;
$clr-primary: #DB4444;
$clr-primary-lt: #E07575;
$clr-secondary: #000;
$clr-secondary-lt: #333;
$clr-secondary-lts: #808080;
$clr-font: #000;
$clr-semi-transparent: #efefef;
$clr-separating-border: #ddd;
$clr-in-stock: #00FF66;