@use "@/variables";

.category {
  margin: variables.$primary-vertical-margin 0;
}

.heading {
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 5rem;
}