@use '@/variables';
@use '@/colors';

.slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 40rem;
  padding-top: variables.$primary-padding-top;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: calc(100% - variables.$primary-padding-top);
  transition: translate .5s;
}

.slideText {
  position: absolute;
  top: 5rem;
  left: 8rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  width: 45rem;
  color: colors.$clr-base;
  z-index: 10;
}

.slideTitle {
  margin-bottom: 2rem;
}

.slideSlogan {
  font-size: 6rem;
  text-transform: capitalize;
}

.slideImage {
  object-fit: cover;
}

.link {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  align-self: flex-start;
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
  padding: .5rem;
  border-bottom-width: .1rem;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  margin-top: auto;
  transition: translate .2s;

  &:hover {
    translate: 0 -.25rem;
  }

  &:active {
    translate: 0 0;
  }
}

.btns {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  width: 1.6rem;
  aspect-ratio: 1;
  background-color: colors.$clr-secondary-lts;
  border: .3rem solid transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all .3s;
}

.btnActive {
  scale: 1.1;
  border-color: #fff;
  background-color: colors.$clr-primary;
}