@use '@/variables';
@use '@/colors';

.slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 45rem;
  padding-top: variables.$primary-padding-top;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: translate .5s;
}

.slideImage {
  object-fit: cover;
}

.btns {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  translate: -50% 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  width: 1.6rem;
  aspect-ratio: 1;
  background-color: colors.$clr-secondary-lts;
  border: .3rem solid transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all .3s;
}

.btnActive {
  scale: 1.1;
  border-color: #fff;
  background-color: colors.$clr-primary;
}